body {
	font-size: 14px !important;
	font-weight: 300;
	line-height: 30px;
}

.error {
	color: red;
}

.required {
	color: red;
}

table tr:nth-child(even) {
	background-color: #EEEEE0;
}

table tr:nth-child(odd) {
	background-color: #DFF0D8;
}

.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: ">>";
}