<div class="container" ng-controller="topMenuCtrl">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#topMenu">
						<span class="sr-only">メニュー</span><span class="icon-bar"></span><span
							class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span
						class="glyphicon glyphicon-home" style="color: #777777;"></span></a>
				</div>
				<div class="collapse navbar-collapse" id="topMenu">
					<ul class="nav navbar-nav">
						<li class="dropdown" ng-repeat="mainMenu in mainMenus"
							ng-class="{ active:selectedMainMenuName ==  mainMenu.mainMenuName}">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">{{mainMenu.mainMenuName}}<strong
								class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li ng-repeat="subMenu in mainMenu.subMenus"><a href=""
									ng-click="showPage(subMenu)">{{subMenu.subMenuName}}</a></li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>
		<div class="col-md-12 column" ng-show="selectedSubMenuName">
			<ul class="breadcrumb"
				style="background-color: #ffffff; height: 10px;">
				<li>{{selectedMainMenuName}}</li>
				<li>{{selectedSubMenuName}}</li>
			</ul>
		</div>
	</div>
</div>